In [1]:
import pandas as pd
import numpy as np

In [3]:
dfc = pd.read_csv('/Users/weilianghu/Downloads/arcos-co-statewide-itemized.csv.gz', compression='gzip')
dfc.head()

/Users/weilianghu/miniconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (3,5,22,26,27) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,REPORTER_DEA_NO,REPORTER_BUS_ACT,REPORTER_NAME,REPORTER_ADDL_CO_INFO,REPORTER_ADDRESS1,REPORTER_ADDRESS2,REPORTER_CITY,REPORTER_STATE,REPORTER_ZIP,REPORTER_COUNTY,...,DOSAGE_UNIT,TRANSACTION_ID,Product_Name,Ingredient_Name,Measure,MME_Conversion_Factor,Combined_Labeler_Name,Reporter_family,dos_str,MME
0,PA0021179,DISTRIBUTOR,APOTHECA INC,NaN,1622 N 16TH ST,NaN,PHOENIX,AZ,85006,MARICOPA,...,150.0,30,HYDROCODONE BITARTRATE & ACETA 5MG/,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,Apotheca Inc.,Apotheca Inc,5.0,454.05
1,PB0034861,DISTRIBUTOR,BELLCO DRUG CORP,NaN,5500 NEW HORIZONS BLVD,NaN,NORTH AMITYVILLE,NY,11701,SUFFOLK,...,200.0,6553,HYDROCODONE BIT./IBUPROFEN;7.5MG & 2,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,"Teva Pharmaceuticals USA, Inc.",Bellco Drug Corp,7.5,908.10
2,PB0034861,DISTRIBUTOR,BELLCO DRUG CORP,NaN,5500 NEW HORIZONS BLVD,NaN,NORTH AMITYVILLE,NY,11701,SUFFOLK,...,200.0,6956,HYDROCODONE BIT/ACETA 5MG/325MG USP,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,SpecGx LLC,Bellco Drug Corp,5.0,605.40
3,PG0229321,DISTRIBUTOR,"GENERAL INJECTABLES & VACCINES,INC",DBA GIV,80 SUMMIT VIEW LANE,P.O. BOX 9,BASTIAN,VA,24314,BLAND,...,200.0,20,HYDROCODONE BIT 5MG/ACETAMINOPHEN 50,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,"Actavis Pharma, Inc.","General Injectables & Vaccines,Inc",5.0,605.40
4,PH0035964,DISTRIBUTOR,H D SMITH WHOLESALE DRUG CO,NaN,4650 INDUSTRIAL DR,NaN,SPRINGFIELD,IL,62703,SANGAMON,...,4800.0,6034942,OXYCODONE HCL 15MG TABLET USP; 100 T,OXYCODONE HYDROCHLORIDE,TAB,1.5,Amneal Pharmaceuticals LLC,H. D. Smith,15.0,96822.00

In [4]:
cols = ["BUYER_STATE",
    "BUYER_COUNTY",
    "MME_Conversion_Factor",
    "CALC_BASE_WT_IN_GM",
    "TRANSACTION_DATE"]

dfc1 = dfc[cols]
dfc1

,BUYER_STATE,BUYER_COUNTY,MME_Conversion_Factor,CALC_BASE_WT_IN_GM,TRANSACTION_DATE
0,CO,PUEBLO,1.0,0.45405,1122009
1,CO,EL PASO,1.0,0.90810,4262006
2,CO,EL PASO,1.0,0.60540,4272006
3,CO,JEFFERSON,1.0,0.60540,1042007
4,CO,ARAPAHOE,1.5,64.54800,10302014
...,...,...,...,...,...
3818337,CO,EL PASO,1.5,16.13700,4092012
3818338,CO,EL PASO,1.5,16.13700,11142012
3818339,CO,EL PASO,1.5,8.06850,2222013
3818340,CO,LARIMER,1.5,16.13700,1132009
3818341,CO,LARIMER,1.5,7.17200,2052009

In [5]:
assert not dfc1["BUYER_STATE"].isnull().any()
assert not dfc1["BUYER_COUNTY"].isnull().any()
assert not dfc1["MME_Conversion_Factor"].isnull().any()
assert not dfc1["CALC_BASE_WT_IN_GM"].isnull().any()
assert not dfc1["TRANSACTION_DATE"].isnull().any()

In [7]:
dfc1["YEAR"] = pd.to_datetime(dfc1['TRANSACTION_DATE'], format = '%m%d%Y')
dfc1["YEAR"] = pd.DatetimeIndex(dfc1["YEAR"]).year

dfc1

/var/folders/sv/ch7d2k6s3slbbzb1gm2s7dkr0000gn/T/ipykernel_69063/1391370946.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfc1["YEAR"] = pd.to_datetime(dfc1['TRANSACTION_DATE'], format = '%m%d%Y')
/var/folders/sv/ch7d2k6s3slbbzb1gm2s7dkr0000gn/T/ipykernel_69063/1391370946.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfc1["YEAR"] = pd.DatetimeIndex(dfc1["YEAR"]).year

,BUYER_STATE,BUYER_COUNTY,MME_Conversion_Factor,CALC_BASE_WT_IN_GM,TRANSACTION_DATE,YEAR
0,CO,PUEBLO,1.0,0.45405,1122009,2009
1,CO,EL PASO,1.0,0.90810,4262006,2006
2,CO,EL PASO,1.0,0.60540,4272006,2006
3,CO,JEFFERSON,1.0,0.60540,1042007,2007
4,CO,ARAPAHOE,1.5,64.54800,10302014,2014
...,...,...,...,...,...,...
3818337,CO,EL PASO,1.5,16.13700,4092012,2012
3818338,CO,EL PASO,1.5,16.13700,11142012,2012
3818339,CO,EL PASO,1.5,8.06850,2222013,2013
3818340,CO,LARIMER,1.5,16.13700,1132009,2009
3818341,CO,LARIMER,1.5,7.17200,2052009,2009

In [8]:
dfc_by_county = dfc1.groupby(["BUYER_STATE", "BUYER_COUNTY", "YEAR"]).sum().reset_index()
dfc_by_county["MME"] = dfc_by_county['CALC_BASE_WT_IN_GM'] * 1000 * dfc_by_county["MME_Conversion_Factor"]
dfc_by_county
final_columns = ["BUYER_STATE", "BUYER_COUNTY", "YEAR", "MME"]
dfc_final = dfc_by_county[final_columns]
dfc_final

    BUYER_STATE BUYER_COUNTY  YEAR           MME
0            CO        ADAMS  2006  1.397375e+12
1            CO        ADAMS  2007  1.851648e+12
2            CO        ADAMS  2008  2.458705e+12
3            CO        ADAMS  2009  3.085754e+12
4            CO        ADAMS  2010  3.994632e+12
..          ...          ...   ...           ...
521          CO         YUMA  2010  1.849409e+09
522          CO         YUMA  2011  2.021950e+09
523          CO         YUMA  2012  2.532656e+09
524          CO         YUMA  2013  3.396780e+09
525          CO         YUMA  2014  3.120597e+09

[526 rows x 4 columns]

In [9]:
dfc_final.to_csv("Opioid_CO.csv")
dfc_final.to_parquet("Opioid_CO.gzip", compression="gzip")