In [1]:
import pandas as pd
import numpy as np

In [2]:
#Read in the data
dfa = pd.read_csv('/Users/weilianghu/Downloads/arcos-az-statewide-itemized.csv.gz', compression='gzip')
dfa.head()

/Users/weilianghu/miniconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (3,5,22,26,27) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,REPORTER_DEA_NO,REPORTER_BUS_ACT,REPORTER_NAME,REPORTER_ADDL_CO_INFO,REPORTER_ADDRESS1,REPORTER_ADDRESS2,REPORTER_CITY,REPORTER_STATE,REPORTER_ZIP,REPORTER_COUNTY,...,DOSAGE_UNIT,TRANSACTION_ID,Product_Name,Ingredient_Name,Measure,MME_Conversion_Factor,Combined_Labeler_Name,Reporter_family,dos_str,MME
0,PA0021179,DISTRIBUTOR,APOTHECA INC,NaN,1622 N 16TH ST,NaN,PHOENIX,AZ,85006,MARICOPA,...,40.0,52,HYDROCODONE BITARTRATE & ACETA 5MG/,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,Apotheca Inc.,Apotheca Inc,5.0,121.08
1,PA0021179,DISTRIBUTOR,APOTHECA INC,NaN,1622 N 16TH ST,NaN,PHOENIX,AZ,85006,MARICOPA,...,1200.0,119,HYDROCODONE BITARTRATE & ACETA 5MG/,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,Apotheca Inc.,Apotheca Inc,5.0,3632.40
2,PA0021179,DISTRIBUTOR,APOTHECA INC,NaN,1622 N 16TH ST,NaN,PHOENIX,AZ,85006,MARICOPA,...,600.0,34,HYDROCODONEBITARTRATE & ACETA 7.5MG,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,Apotheca Inc.,Apotheca Inc,7.5,2724.30
3,PA0021179,DISTRIBUTOR,APOTHECA INC,NaN,1622 N 16TH ST,NaN,PHOENIX,AZ,85006,MARICOPA,...,300.0,19,HYDROCODONE BITARTRATE & ACETA 5MG/,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,Apotheca Inc.,Apotheca Inc,5.0,908.10
4,PA0021179,DISTRIBUTOR,APOTHECA INC,NaN,1622 N 16TH ST,NaN,PHOENIX,AZ,85006,MARICOPA,...,600.0,73,HYDROCODONE BITARTRATE & ACETA 5MG/,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,Apotheca Inc.,Apotheca Inc,5.0,1816.20

In [3]:
#Subset the data for the corresponding variables that we need
cols = ["BUYER_STATE",
    "BUYER_COUNTY",
    "MME_Conversion_Factor",
    "CALC_BASE_WT_IN_GM",
    "TRANSACTION_DATE"]

dfa1 = dfa[cols]
dfa1

,BUYER_STATE,BUYER_COUNTY,MME_Conversion_Factor,CALC_BASE_WT_IN_GM,TRANSACTION_DATE
0,AZ,MARICOPA,1.0,0.12108,3112009
1,AZ,MARICOPA,1.0,3.63240,11252008
2,AZ,MARICOPA,1.0,2.72430,6122009
3,AZ,MARICOPA,1.0,0.90810,10022009
4,AZ,MARICOPA,1.0,1.81620,3232010
...,...,...,...,...,...
5078737,AZ,MARICOPA,1.5,4.03425,5312013
5078738,AZ,GREENLEE,1.5,8.06850,2102009
5078739,AZ,PIMA,1.5,134.47500,3052009
5078740,AZ,PIMA,1.5,4.48250,4212009
5078741,AZ,PIMA,1.5,8.06850,7132009

In [4]:
# Check for missing data
assert not dfa1["BUYER_STATE"].isnull().any()
assert not dfa1["BUYER_COUNTY"].isnull().any()
assert not dfa1["MME_Conversion_Factor"].isnull().any()
assert not dfa1["CALC_BASE_WT_IN_GM"].isnull().any()
assert not dfa1["TRANSACTION_DATE"].isnull().any()

In [5]:
# Change date variable to year
dfa1["YEAR"] = pd.to_datetime(dfa1['TRANSACTION_DATE'], format = '%m%d%Y')
dfa1["YEAR"] = pd.DatetimeIndex(dfa1["YEAR"]).year
dfa1.drop(columns=["TRANSACTION_DATE"], axis = 1)
dfa1

/var/folders/sv/ch7d2k6s3slbbzb1gm2s7dkr0000gn/T/ipykernel_68664/1786014297.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfa1["YEAR"] = pd.to_datetime(dfa1['TRANSACTION_DATE'], format = '%m%d%Y')
/var/folders/sv/ch7d2k6s3slbbzb1gm2s7dkr0000gn/T/ipykernel_68664/1786014297.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfa1["YEAR"] = pd.DatetimeIndex(dfa1["YEAR"]).year

,BUYER_STATE,BUYER_COUNTY,MME_Conversion_Factor,CALC_BASE_WT_IN_GM,TRANSACTION_DATE,YEAR
0,AZ,MARICOPA,1.0,0.12108,3112009,2009
1,AZ,MARICOPA,1.0,3.63240,11252008,2008
2,AZ,MARICOPA,1.0,2.72430,6122009,2009
3,AZ,MARICOPA,1.0,0.90810,10022009,2009
4,AZ,MARICOPA,1.0,1.81620,3232010,2010
...,...,...,...,...,...,...
5078737,AZ,MARICOPA,1.5,4.03425,5312013,2013
5078738,AZ,GREENLEE,1.5,8.06850,2102009,2009
5078739,AZ,PIMA,1.5,134.47500,3052009,2009
5078740,AZ,PIMA,1.5,4.48250,4212009,2009
5078741,AZ,PIMA,1.5,8.06850,7132009,2009

In [6]:
# Group by County and year and calculate opioid quantity.
dfa_by_county = dfa1.groupby(["BUYER_STATE", "BUYER_COUNTY", "YEAR"]).sum().reset_index()
dfa_by_county["MME"] = dfa_by_county['CALC_BASE_WT_IN_GM'] * 1000 * dfa_by_county["MME_Conversion_Factor"]
dfa_by_county
final_columns = ["BUYER_STATE", "BUYER_COUNTY", "YEAR", "MME"]
dfa_final = dfa_by_county[final_columns]
dfa_final

    BUYER_STATE BUYER_COUNTY  YEAR           MME
0            AZ       APACHE  2006  5.825222e+09
1            AZ       APACHE  2007  6.901463e+09
2            AZ       APACHE  2008  7.828283e+09
3            AZ       APACHE  2009  1.025704e+10
4            AZ       APACHE  2010  1.060376e+10
..          ...          ...   ...           ...
130          AZ         YUMA  2010  4.092843e+11
131          AZ         YUMA  2011  5.691798e+11
132          AZ         YUMA  2012  7.115188e+11
133          AZ         YUMA  2013  7.535311e+11
134          AZ         YUMA  2014  6.762313e+11

[135 rows x 4 columns]

In [8]:
dfa_final.to_csv("Opioid_AZ.csv")
dfa_final.to_parquet("Opioid_AZ.gzip", compression="gzip")